@(contacts: List[Contact]) 

@Main("Home") {
<div class="container">
  <h1>Current Contacts</h1>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <td>First</td>
        <td>Last</td>
        <td>Digits</td>
      </tr>
    </thead>
    <tbody>
    @for(contact <- contacts) {
      <tr>
        <td>@contact.getFirstName()</td>
        <td>@contact.getLastName()</td>
        <td>@contact.getDigits</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
