@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, loginForm: Form[views.formdata.LoginFormData], registrationForm: Form[views.formdata.RegistrationFormData])
@import bootstrap3._

@Main(page, isLoggedIn, userInfo) {
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        @loginform(routes.Application.postLogin(), loginForm("email"), loginForm("password"))
      </div>
      <div class="col-sm-4">
        @registrationform(routes.Application.postRegistration(), registrationForm("name"), registrationForm("email"), registrationForm("password"))
      </div>
    </div>

  </div>
}
