@(ContactForm: Form[views.formdata.ContactFormData], TelephoneTypeMap: Map[String, Boolean]) 
@import helper.form 
@import bootstrap3._

@Main("New Contact") {
<div class="container">
    
  @form(routes.Application.postContact(), 'class -> "form-horizontal") {
    <input type="hidden"
    name="@ContactForm("id").name",
    id="@ContactForm("id").id",
    value="@ContactForm("id").value">
    
    @text(ContactForm("FirstName"),
        label = "FirstName",
        placeholder = "First Name",
        help = "Please enter your first name. (required)")

  @text(ContactForm("LastName"),
        label = "Last Name",
        placeholder = "Last Name",
        help = "Please enter your last name. (required)")
        
  @text(ContactForm("digits"),
        label = "digits",
        placeholder = "XXX-XXX-XXXX",
        help = "Please enter your phone number. (required)")
        
  @select(ContactForm("telephoneType"),
          label = "Type",
          optionMap = TelephoneTypeMap,
          isMultiple = false,
          help = "Select your Telephone Type. (required)")
          
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Add</button>
    </div>
  </div>

  }
</div>
}
